@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Faster+One);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
/*
* {
	margin: 0;
	padding: 20px;
	box-sizing: border-box;
}
*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
img {
	width: 15%;
}

body {
	background:white;
	font-family:"Bitter", sans-serif;
	font-size:16px;
}
#wrapper {
	margin: 0 auto;
	width: 60%;
	background-color: white;
}

header h1{
	background: purple;
	float:left;
	width:30%;
	height:100px;
	line-height: 50px;
	text-align:center;
	font-family: "Shrikhand", serif;
	font-size:44px;
	word-break: normal;
	padding:100px 0;
	border: 4px solid white;
}

header img {
	float:right;
	width:68%;
	height:300px;
	border:4px solid white;
}

header div {
	background:gray;
	padding:20px;
}

#slogan {
	font-family: "Sigmar One", serif;
	font-size: 28px;
	font-style: italic;
	text-align: center;
	padding:5px;
	border: 10px solid black;
	background: white;
}

nav p {
    background-color: silver;
    /*border: 1px purple solid;*/
    padding: 16px 18px;
    float: left;
    display: block;
    width:48%;
    font-size:20px;
}
nav a {
    background-color: silver;
    /*border: 1px purple solid;*/
    padding: 18px 17px;
    float: left;
    display: block;
    width:12%;
    text-align: center;
    color: purple;
}

nav a:hover {
	background-color: purple;
	color:black;
	font-size: 24px;
	padding: 14px 17px;
}






#fresh {
	float: left;
	width: 55%;
	margin: 5% 2%;
	height:500px;
}
#fresh h2 {
	font-size:36px;
	font-family: "Sigmar One", sans-serif;
	color: black;
	background: purple;
	padding: 2px;
	text-align: center;
}
#fresh article {
	height: 420px;
	padding:20px;
}
#fresh img {
	width: 100%;
}




#moreinfo {
	float: right;
	width: 37%;
	margin: 5% 2% 5% 0;
	height:500px;
}
#moreinfo h2 {
	font-size: 24px;
	font-family: "Sigmar One", sans-serif;
	margin:.75em 12px;
}
#moreinfo p,form {
	margin: .75em;
	text-align: left-justify;
}
#aboutme, #newsletter {
	background: silver;
}
#aboutme img {
	float: right;
	width:45%;
	padding:5px;
}


#recents h2 {
	width:100%;
	text-align:center;
	font-family: "Sigmar One", sans-serif;
	font-size:32px;
	background:purple;
	padding:20px 0;
}
#recents article {
	float:left;
	width:41.2%;
	margin:2%;
	height:300px;
	background: silver;
	padding:20px;
}
#recents img {
	width:40%;
}



h3 {
	font-family:"Sigmar One", sans-serif;
	font-size: 24px;
	padding: 10px 0;
}

#contact {
	padding: 30px;
	text-align: center;
	background: purple;
	border:10px solid black;
}
#contact a {
	color: black;
}
#contact a:hover {
	color: white;
}

section { 
    background-color: gray;
}

div { 
    background-color: silver;
}
