@import url(https://fonts.googleapis.com/css?family=Shrikhand);
@import url(https://fonts.googleapis.com/css?family=Bitter);

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*/

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div, section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

body {
	background-color: #000;
	font-family: "Bitter", sans-serif;
}

h1, h2, h3 {
	color: #1EFF7E;
	font-family: Shrikhand, sans-serif;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
}

p {
	color: #04CCCA;
	font-size: 18px;
}

form {
	color: #FFF;
}

ul {
	color: #CC049A;
	list-style-type: none;
}

li {
	font-size: 16px;
}

a {
	font-style: italic;
	color: #FFF;
}

#slogan {
	color: #CC049A;
	font-style: italic;
	text-align: center;
	font-size: 20px;
}




